/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: #1c1c1c;
  --clr-bg-yellow: #f8d26d;
  --clr-timber: #dfa46d;
  --clr-plum: #724d50;
  --clr-lightest: #e7f6fd;
  --clr-light: #cdedfc;
  --clr-blue: #9fdcf9;
  --clr-white: #ffffff;

  /* font-sizes */
  --fs-num-big: 3.75rem;
  --fs-num-sm: 2.5rem;
  --fs-restart-btn: 3.125rem;
  --fs-state-btn: 3.5rem;

  /* font */
  --ff: "VT323", monospace;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
} */

body {
  background: #1c1c1c;
  overflow: hidden;
  height: 100vh;

  font-family: var(--ff);
  font-weight: 400;
  font-style: normal;


  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.bar {
  color: var(--clr-plum);

  display: flex;
  justify-content: space-between;

  padding-bottom: 10px;

  width: 330px;
}

.bar-box {
  display: flex;

  gap: 2px;

  width: 65px;
  height: 60px;
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--fs-num-sm);
  color: var(--clr-plum);
}

.displayValueBig {
  /* padding: 16px; */
  font-size: var(--fs-num-big);
  letter-spacing: -7px;
}

.displayValueSmall {
  font-size: var(--fs-num-sm);
}

.gameBoy {
  max-width: 420px;
  background: #f8d26d;
  border-radius: 10px;
  margin: 0 auto;
  height: 657px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer {
  border: 10px solid var(--clr-timber);
  background-color: var(--clr-light);
  width: 98%;

  margin-top: 40px;
  margin-bottom: 30px;
}

.inner {
  border: 10px solid var(--clr-lightest);
  background-color: var(--clr-light);

  display: flex;
  flex-direction: column;
  padding: 15px;
}

.toy {
  border: 7px solid var(--clr-blue);
  background-color: var(--clr-light);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 280px;
}

.toy-img-wrapper {
  width: 200px;
  border-bottom: 8px solid var(--clr-white);
}

.tamago {
  width: 100%;
  /* width: 200px; */
  height: 140px;
  background: url("./public/assets/tamago/Tamago.png") 0px 0px;
  background-repeat: no-repeat;
}
/* happy, bored, sleepy, sleeping, hungry, eating, playing, dead */
.tamago-happy,
.tamago-dead,
.tamago-sleepy,
.tamago-sleeping,
.tamago-hungry,
.tamago-eating,
.tamago-sad,
.tamago-playing {
  background: url("./public/assets/tamago/Tamago.png");
}

.tamago-happy {
  animation: animateHappy 0.6s steps(1) infinite 200ms;
}

@keyframes animateHappy {
  0%,
  100% {
    background-position: -20px -15px;
  }
  50% {
    background-position: -20px -200px;
  }
}



.tamago-sleepy {
  background-position: -20px -491px;
}

.tamago-sleeping {
  animation: animateSleeping 0.6s steps(1) infinite;
}

@keyframes animateSleeping {
  0%,
  100% {
    background-position: -20px -669px;
  }
  50% {
    background-position: -20px -846px;
  }
}

.tamago-hungry {
  background-position: -20px -1025px;
}

.tamago-eating {
  animation: animateEating 0.6s steps(1) infinite;
}

@keyframes animateEating {
  0%,
  100% {
    background-position: -20px -1204px;
  }
  50% {
    background-position: -20 -1385px;
  }
}

.tamago-sad {
  background-position: -20px -1943px;
}

.tamago-playing {
  animation: animatePlaying 0.6s steps(1) infinite;
}

@keyframes animatePlaying {
  0%,
  100% {
    background-position: -20px -1766px;
  }
  50% {
    background-position: -20px -1573px;
  }
}

.tamago-dead {
  height: 119px;
  background-position: -20px -335px;
}

.state {
  background-color: var(--clr-lightest);
  font-size: var(--fs-state-btn);
  color: var(--clr-plum);
  text-transform: uppercase;

  text-align: center;

  margin-top: 15px;
}

.action-container {
  width: 293px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action {
  width: 75px;
  height: 76px;
  border-radius: 50%;
  border: 5px solid var(--clr-timber);

  background-color: var(--clr-bg-yellow);
  box-shadow: 0px 7px 0px 0px var(--clr-plum);

  display: flex;
  justify-content: center;
  align-items: center;
}
.action-icon-inside {
  pointer-events: none;
}

.restart-button {
  width: 292px;
  height: 66px;
  padding: 8px 16px 8px 16px;
  background-color: var(--clr-bg-yellow);
  border: 6px solid var(--clr-timber);
  font-size: var(--fs-restart-btn);
  color: var(--clr-dark);
  font-family: inherit;

  box-shadow: 0px 7px 0px 0px #724D50;
  display: flex;
  justify-content: center;
  align-items: center;

}

.restart-button:hover, :focus {
  box-shadow: none;
}
